.button{
  padding: .5rem 2rem;
  border-radius: 60px;
  color: $white;

}

.button_default{
  @extend .button;

  background-color: $white;
  border: 1px solid $taupe-gray;
  color: $granite-gray;
  text-transform: uppercase;

  &:hover {
    background-color: $granite-gray;
    border-color: $white;
    color: $white;
  }
}

.button_aling{
  text-align: center;
}

.button_small{
  @extend .button_default;

  padding: 0.3rem 3rem;
  font-size: $medium;
}

.button_medium{
  @extend .button_default;

  padding: 0.1rem 5rem;
  font-size: $large;
}

.button_large{
  @extend .button_default;

  padding: .5rem 10rem;
  font-size: $x-large;
}

.button_big{
  @extend .button_default;

  padding: .5rem 10rem;
  font-size: $xx-large;
}
